<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT standardPage ANY>
<!ATTLIST standardPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT Dialogue ANY>
<!ATTLIST Dialogue id ID #REQUIRED>
<!ELEMENT DialogueCategory ANY>
<!ATTLIST DialogueCategory id ID #REQUIRED>
<!ELEMENT Dialoguelogin ANY>
<!ATTLIST Dialoguelogin id ID #REQUIRED>
<!ELEMENT DialogueRegister ANY>
<!ATTLIST DialogueRegister id ID #REQUIRED>
]>
<root id="-1">
  <Dialogue id="1054" key="6cf3dfa1-b8c5-4dd5-9dcd-36fe1e8e5ccc" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-16T14:12:31" updateDate="2017-01-16T14:14:42" nodeName="Forum One" urlName="forum-one" path="-1,1054" isDoc="" nodeType="1050" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="Dialogue">
    <umbracoNaviHide>0</umbracoNaviHide>
    <hideFromSitemap>0</hideFromSitemap>
    <memberUrlName><![CDATA[member]]></memberUrlName>
    <dialogueUrlName><![CDATA[page]]></dialogueUrlName>
    <forumDescription><![CDATA[<p>Forum One Description</p>]]></forumDescription>
    <topicUrlName><![CDATA[topic]]></topicUrlName>
    <forumName><![CDATA[Forum One Name]]></forumName>
    <privateMessageInboxSize>100</privateMessageInboxSize>
    <manuallyAuthoriseNewMembers>0</manuallyAuthoriseNewMembers>
    <allowRssFeeds>1</allowRssFeeds>
    <activitiesPerPage>20</activitiesPerPage>
    <allowEmailSubscriptions>1</allowEmailSubscriptions>
    <postsPerPage>20</postsPerPage>
    <fileUploadAllowedExtensions><![CDATA[jpg,jpeg,png,gif]]></fileUploadAllowedExtensions>
    <enableSpamReporting>1</enableSpamReporting>
    <fileUploadMaximumFilesize>5000000</fileUploadMaximumFilesize>
    <suspendRegistration>0</suspendRegistration>
    <allowPostsToBeMarkedAsSolution>1</allowPostsToBeMarkedAsSolution>
    <enableMemberReporting>1</enableMemberReporting>
    <privateMessageFloodControl>1</privateMessageFloodControl>
    <topicsPerPage>20</topicsPerPage>
    <emailAdminOnNewMemberSignup>0</emailAdminOnNewMemberSignup>
    <newMembersMustConfirmAccountsViaEmail>0</newMembersMustConfirmAccountsViaEmail>
    <allowPrivateMessages>1</allowPrivateMessages>
    <allowMemberSignatures>0</allowMemberSignatures>
    <pointsAddedForASolution>1</pointsAddedForASolution>
    <amountOfPointsBeforeAUserCanVote>1</amountOfPointsBeforeAUserCanVote>
    <pointsDeductedForNegativeVote>1</pointsDeductedForNegativeVote>
    <allowPoints>1</allowPoints>
    <pointsAddedPerNewPost>1</pointsAddedPerNewPost>
    <pointsAddedForPositiveVote>1</pointsAddedForPositiveVote>
    <adminEmailAddress><![CDATA[admin@mysite.com]]></adminEmailAddress>
    <notificationReplyEmailAddress><![CDATA[noreply@mysite.com]]></notificationReplyEmailAddress>
    <theme><![CDATA[Default]]></theme>
    <newMemberStartingGroup><![CDATA[Dialogue Standard]]></newMemberStartingGroup>
    <enterASpamRegistrationPreventionQuestion><![CDATA[What is 1 + 1]]></enterASpamRegistrationPreventionQuestion>
    <enterTheAnswerToYourSpamQuestion><![CDATA[2]]></enterTheAnswerToYourSpamQuestion>
    <enableAkismetSpamControl>0</enableAkismetSpamControl>
    <Dialoguelogin id="1057" key="d6ba6928-2017-4e85-a3d9-804d10b83649" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2017-01-16T14:12:31" updateDate="2017-01-16T14:14:56" nodeName="Login" urlName="login" path="-1,1054,1057" isDoc="" nodeType="1052" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="Dialoguelogin">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSitemap>0</hideFromSitemap>
    </Dialoguelogin>
    <DialogueRegister id="1058" key="0a7102e3-45e4-48b9-b863-05a0cf506b46" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2017-01-16T14:12:31" updateDate="2017-01-16T14:15:00" nodeName="Register" urlName="register" path="-1,1054,1058" isDoc="" nodeType="1053" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueRegister">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
    </DialogueRegister>
    <DialogueCategory id="1067" key="f4d73bfb-fef8-43dc-a56f-e9aee67b93cc" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2017-01-16T15:08:36" updateDate="2017-01-16T15:49:54" nodeName="Allmänt" urlName="allmaent" path="-1,1054,1067" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSitemap>0</hideFromSitemap>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
    </DialogueCategory>
    <DialogueCategory id="1069" key="f761add0-b829-4774-bd4d-d1fccf168acb" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2017-01-16T15:24:15" updateDate="2017-01-16T15:48:02" nodeName="Läkarstudent" urlName="laekarstudent" path="-1,1054,1069" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSitemap>0</hideFromSitemap>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
    </DialogueCategory>
    <DialogueCategory id="1072" key="f7a239da-29a9-4303-a1d3-d92c44284d5c" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2017-01-16T15:49:14" updateDate="2017-01-16T15:50:26" nodeName="AT/ST/Vik.ul-läkare" urlName="atstvikul-laekare" path="-1,1054,1072" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSitemap>0</hideFromSitemap>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
    </DialogueCategory>
    <DialogueCategory id="1073" key="55a692c9-79fe-4dcf-8eb0-cb91d22447a8" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2017-01-16T15:50:54" updateDate="2017-02-04T17:33:23" nodeName="Övrigt" urlName="oevrigt" path="-1,1054,1073" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSitemap>0</hideFromSitemap>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
    </DialogueCategory>
    <DialogueCategory id="1175" key="8e5b5026-5b4d-430f-b924-20090ccdecbd" parentID="1054" level="2" creatorID="0" sortOrder="8" createDate="2017-02-04T17:45:21" updateDate="2017-02-04T17:45:21" nodeName="Test" urlName="test" path="-1,1054,1175" isDoc="" nodeType="1051" creatorName="Ninib" writerName="Ninib" writerID="0" template="0" nodeTypeAlias="DialogueCategory">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideFromSitemap>0</hideFromSitemap>
      <moderateAllPostsInThisCategory>0</moderateAllPostsInThisCategory>
      <lockCategory>0</lockCategory>
      <moderateAllTopicsInThisCategory>0</moderateAllTopicsInThisCategory>
    </DialogueCategory>
  </Dialogue>
  <homePage id="1173" key="44c35ebe-eacb-4f74-84b7-6604f99f4409" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-01-24T11:18:04" updateDate="2017-01-24T11:18:04" nodeName="Start" urlName="start" path="-1,1173" isDoc="" nodeType="1172" creatorName="Ninib" writerName="Ninib" writerID="0" template="1171" nodeTypeAlias="homePage">
    <standardPage id="1174" key="21802ccf-8c33-460c-b0c4-fc7d0b3122a6" parentID="1173" level="2" creatorID="0" sortOrder="0" createDate="2017-01-24T11:18:54" updateDate="2017-01-24T11:18:54" nodeName="Om oss" urlName="om-oss" path="-1,1173,1174" isDoc="" nodeType="1170" creatorName="Ninib" writerName="Ninib" writerID="0" template="1169" nodeTypeAlias="standardPage">
      <mainBody><![CDATA[<p>edfnju djföjk bfködjb cdköb vbvdkö,</p>]]></mainBody>
      <teaserText><![CDATA[hej hej]]></teaserText>
      <heading><![CDATA[Om oss]]></heading>
    </standardPage>
  </homePage>
</root>